@model SportsMVC.Models.m_SportsRepo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>m_SportsRepo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            US Sports Region
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepoName)
        </dd>
        @if (Model.SportsList != null)
       {
           @foreach (var item in Model.SportsList)
           {
               <dt class = "col-sm-2">
                    Sport in Region:
               </dt>
               <dd class = "col-sm-10">
                    @item.Name
               </dd>
           }
       }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
